.jobs-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.search {
  border: 1px solid #b6c5ff;
  background-color: transparent;
  padding: 5px;
  border-right: 0px;
}
.button {
  border: 1px solid #b6c5ff;
  background-color: #7e858e;
  outline: none;
  border-left: 0px;
}
.search-icon {
  color: white;
}
.line {
  border: 1px solid #b6c5ff;
  width: 100%;
}
